#include <behaviors/rgbled_widget.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

// ZMK Studio unlock behavior

&studio_unlock {
};

// Layer definitions

#define MAIN     0  // Main
#define LOWER    1  // Numbers/Symbols
#define RAISE    2  // Symbols/Navigation
#define MOUSE    3  // Mouse
#define SCROLL   4  // Scroll
#define CONTROL  5  // BT/System

// trackball_listener settings

&trackball_listener {
    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_Y_INVERT | INPUT_TRANSFORM_X_INVERT)>;

    scroller {
        layers = <SCROLL>;
        input-processors = <
            &zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
            &zip_xy_scaler 1 20
            &zip_xy_to_scroll_mapper
        >;
    };
};

// layer-tap settings

&lt {
    tapping-term-ms = <200>;
    hold-trigger-on-release;
};

/ {
    behaviors {
        // Homerow mods (prevent misfires during fast typing)
        // - balanced: good balance between tap and hold
        // - require-prior-idle-ms: won't trigger modifier while typing
        // - hold-trigger-on-release: evaluate on key release (prevent misfires)

        HRM: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <200>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;

            display-name = "HRM";
        };

        // Normal modifier keys (for thumb/edge keys, standard response)

        SandS: SandS {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;

            display-name = "SandS";
        };

        // Mouse layer: hold for modifier, tap for language switch + return to main

        ht_l2: ht_lang2 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&lang2>;
        };

        ht_l1: ht_lang1 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&lang1>;
        };

        // Mouse button + shortcut support (when Cmd/Ctrl held, send original key)

        mm_rclk: mm_rclk {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mkp RCLK>, <&kp S>;

            mods = <(0x99)>;  // MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL
            keep-mods = <(0x99)>;
        };

        mm_mclk: mm_mclk {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mkp MCLK>, <&kp D>;

            mods = <(0x99)>;  // MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL
            keep-mods = <(0x99)>;
        };

        mm_lclk: mm_lclk {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mkp LCLK>, <&kp F>;

            mods = <(0x99)>;  // MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL
            keep-mods = <(0x99)>;
        };

        mm_mb5: mm_mb5 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mkp MB5>, <&kp C>;

            mods = <(0x99)>;  // MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL
            keep-mods = <(0x99)>;
        };

        mm_mb4: mm_mb4 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mkp MB4>, <&kp V>;

            mods = <(0x99)>;  // MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL
            keep-mods = <(0x99)>;
        };
    };
};

/ {
    macros {
        input_userid: input_userid {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp N1 &kp C &kp LS(A) &kp N1 &kp N8>;
        };

        input_email_proton: input_email_proton {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp N1 &kp C &kp LS(A) &kp N1 &kp N8 &kp AT &kp P &kp R &kp O &kp T &kp O &kp N &kp DOT &kp M &kp E>;
        };

        // BT connection + base layer switch macro

        bt_mac: bt_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &to MAIN>;
        };

        // Language switch + return to main layer macros

        lang2: lang2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &to MAIN>;
        };

        lang1: lang1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG1 &to MAIN>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        // ==================== MAIN LAYER ====================

        main_layer {
            display-name = "Main";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <
&kp LG(GRAVE)         &none       &none  &none            &none                  &none                                         &kp KP_N7     &kp KP_N8  &kp KP_N9   &kp KP_DIVIDE                              &none        &none  &none      &none    &none                            &none
&kp LC(T)             &kp Q       &kp W  &kp E            &kp R                  &kp T                                         &kp KP_N4     &kp KP_N5  &kp KP_N6   &kp KP_MULTIPLY                            &kp Y        &kp U  &kp I      &kp O    &kp P                            &mo CONTROL
&kp ESC               &kp A       &kp S  &HRM LEFT_ALT D  &HRM LS(LEFT_GUI) F    &HRM LEFT_CONTROL G  &SandS LEFT_SHIFT TAB    &kp KP_N1     &kp KP_N2  &kp KP_N3   &kp KP_MINUS       &mt RIGHT_SHIFT LC(TAB) &kp H        &kp J  &kp K      &kp L    &HRM RS(RA(RC(RIGHT_GUI))) SEMI  &kp MINUS
&HRM LEFT_SHIFT LEFT  &kp Z       &kp X  &kp C            &kp V                  &kp B                &kp DOWN                 &kp KP_ENTER  &kp KP_N0  &kp KP_DOT  &kp KP_PLUS        &kp UP                  &kp N        &kp M  &kp COMMA  &kp DOT  &kp FSLH                         &HRM RIGHT_SHIFT RIGHT
&SandS LGUI LANG2     &kp C_MUTE         &to MOUSE        &SandS LEFT_SHIFT TAB  &lt RAISE SPACE      &mo LOWER                                                                       &kp BSPC                &lt RAISE ENTER                                                          &SandS RA(RIGHT_GUI) LANG1
            >;
        };

        // ==================== FUNCTION LAYERS ====================
        // ========== Lower Layer ==========

        lower_layer {
            display-name = "Lower";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <
&trans     &trans  &trans  &trans  &trans  &trans             &trans  &trans  &trans  &trans            &trans    &trans     &trans    &trans    &trans     &trans
&trans     &kp F1  &kp F2  &kp F3  &kp F4  &kp F5             &trans  &trans  &trans  &trans            &kp FSLH  &kp EQUAL  &kp STAR  &kp PLUS  &kp PRCNT  &trans
&kp CARET  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5   &trans    &trans  &trans  &trans  &trans    &trans  &kp N6    &kp N7     &kp N8    &kp N9    &kp N0     &trans
&kp PG_UP  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans    &trans  &trans  &trans  &trans    &trans  &kp F11   &kp F12    &trans    &trans    &kp DLLR   &trans
&trans     &trans          &trans  &trans  &trans   &trans                                      &trans  &trans                                              &none
            >;
        };

        // ========== Raise Layer ==========

        raise_layer {
            display-name = "Raise";
            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
            bindings = <
&trans     &trans     &trans     &trans    &trans    &trans               &trans  &trans  &trans  &trans            &trans    &trans     &trans    &trans     &trans     &trans
&trans     &kp QMARK  &kp EXCL   &kp AMPS  &kp PIPE  &kp BSLH             &trans  &trans  &trans  &trans            &kp FSLH  &kp EQUAL  &kp STAR  &kp PLUS   &kp PRCNT  &trans
&kp CARET  &kp POUND  &kp GRAVE  &kp DQT   &kp SQT   &kp TILDE  &trans    &trans  &trans  &trans  &trans    &trans  &kp LEFT  &kp DOWN   &kp UP    &kp RIGHT  &kp COLON  &trans
&trans     &kp AT     &kp LT     &kp LBRC  &kp LBKT  &kp LPAR   &trans    &trans  &trans  &trans  &trans    &trans  &kp RPAR  &kp RBKT   &kp RBRC  &kp GT     &kp DLLR   &trans
&trans     &trans                &trans    &trans    &trans     &trans                                      &trans  &trans                                               &trans
            >;
        };

        // ==================== MOUSE LAYER ====================

        mouse_layer {
            display-name = "Mouse";
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
            bindings = <
&trans         &trans  &trans    &trans    &trans    &trans                &kp KP_N7     &kp KP_N8  &kp KP_N9   &kp KP_DIVIDE              &trans          &trans          &trans        &trans           &trans  &trans
&trans         &trans  &trans    &trans    &trans    &trans                &kp KP_N4     &kp KP_N5  &kp KP_N6   &kp KP_MULTIPLY            &trans          &trans          &trans        &trans           &trans  &trans
&trans         &trans  &mm_rclk  &mm_mclk  &mm_lclk  &trans  &trans        &kp KP_N1     &kp KP_N2  &kp KP_N3   &kp KP_MINUS       &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans  &trans
&trans         &trans  &trans    &mm_mb5   &mm_mb4   &trans  &trans        &kp KP_ENTER  &kp KP_N0  &kp KP_DOT  &kp KP_PLUS        &trans  &trans          &mkp MB4        &mkp MB5      &trans           &trans  &trans
&ht_l2 LGUI 0  &trans            &trans    &trans    &trans  &mo SCROLL                                                            &trans  &trans                                                                 &ht_l1 RA(RIGHT_GUI) 0
            >;
        };

        // ========== Scroll Layer ==========

        scroll_layer {
            display-name = "Scroll";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans            &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans            &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans    &trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans    &trans  &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans          &trans  &trans  &trans  &trans                                      &trans  &trans                                                                 &trans
            >;
        };

        // ========== Control Layer (BT/System) ==========

        control_layer {
            display-name = "Ctrl";
            bindings = <
&trans       &trans         &trans        &trans        &trans        &trans                          &trans  &trans  &trans  &trans            &trans         &trans               &trans  &trans  &trans  &trans
&kp C_SLEEP  &kp LG(MINUS)  &kp LG(PLUS)  &kp C_MUTE    &kp C_VOL_DN  &kp C_VOL_UP                    &trans  &trans  &trans  &trans            &trans         &trans               &trans  &trans  &trans  &trans
&trans       &bt_mac        &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR        &trans  &trans  &trans  &trans    &trans  &trans         &trans               &trans  &trans  &trans  &trans
&trans       &trans         &out OUT_USB  &out OUT_TOG  &out OUT_BLE  &trans        &bt BT_CLR_ALL    &trans  &trans  &trans  &trans    &trans  &input_userid  &input_email_proton  &trans  &trans  &trans  &trans
&trans       &trans                       &trans        &trans        &trans        &trans                                              &trans  &trans                                                      &trans
            >;
        };

        // Extra layer can be added in ZMK STUDIO
    };
};
